<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
  	<h1>Blog para SWCM </h1>
    <aside>
      <a href="/">HOME</a>
      <a href="/info">INFO</a>
    </aside>
  	<hr>

    	<%- body %>
	
	</hr>

  <hr>
    <p>
		  Curso 2012-2013
    </p>
  </hr>

  <hr>
    <p>
      Contador de visitas: Llevamos <%= contador %> visitas
    </p>
	</hr>

  </body>
</html> 
