<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h1>Blog para SWCM </h1>
  	<a href="/">Home</a>

  	<hr>

    	<%- body %>
	
	</hr>

	<p>
		Curso 2012-2013
	</p>
	
  </body>
</html> 
